@charset "UTF-8";
body {
  font-family: "Noto Sans JP", sans-serif;
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.4414414414vw;
  }
}
@media (min-width: 1110px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.l-archive-home {
  margin-top: 40px;
  margin-top: 2.5rem;
}
@media screen and (min-width: 768px) {
  .l-archive-home {
    margin-top: 3.75rem;
  }
}

.l-archive-works {
  margin-top: 40px;
  margin-top: 2.5rem;
}
@media screen and (min-width: 768px) {
  .l-archive-works {
    margin-top: 4.375rem;
  }
}

.l-company-info {
  margin-top: 80px;
  margin-top: 5rem;
}
@media screen and (min-width: 768px) {
  .l-company-info {
    margin-top: 8.75rem;
  }
}

.l-company {
  margin-top: 50px;
  margin-top: 3.125rem;
}
@media screen and (min-width: 768px) {
  .l-company {
    margin-top: 2.5rem;
  }
}

.l-contact {
  margin-top: 80px;
  margin-top: 5rem;
}
@media screen and (min-width: 768px) {
  .l-contact {
    margin-top: 6.875rem;
  }
}

.l-contact--mt0 {
  margin-top: 0;
}

.l-inner {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .l-inner {
    max-width: 1160px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.l-page-contact {
  margin-top: 40px;
  margin-top: 2.5rem;
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
}
@media screen and (min-width: 768px) {
  .l-page-contact {
    margin-top: 4.375rem;
    margin-bottom: 4.375rem;
  }
}

.l-page-service {
  margin-top: 40px;
  margin-top: 2.5rem;
}
@media screen and (min-width: 768px) {
  .l-page-service {
    margin-top: 4.375rem;
  }
}

.l-paginavi {
  margin-top: 40px;
  margin-top: 2.5rem;
}

.l-recruit {
  margin-top: 40px;
  margin-top: 2.5rem;
}
@media screen and (min-width: 768px) {
  .l-recruit {
    margin-top: 4.375rem;
  }
}

.l-service {
  margin-top: 80px;
  margin-top: 5rem;
}
@media screen and (min-width: 768px) {
  .l-service {
    margin-top: 8.75rem;
  }
}

.l-single-body {
  margin-top: 40px;
  margin-top: 2.5rem;
}
@media screen and (min-width: 768px) {
  .l-single-body {
    margin-top: 4.375rem;
  }
}

.l-topNews {
  margin-top: 40px;
  margin-top: 2.5rem;
}
@media screen and (min-width: 768px) {
  .l-topNews {
    margin-top: 4.375rem;
  }
}

.l-works {
  margin-top: 80px;
  margin-top: 5rem;
}

.c-breadcrumb {
  padding: 5px 0;
  padding: 0.3125rem 0;
  background-color: #F7F7F7;
  font-size: 11px;
  font-size: 0.6875rem;
}

.c-button {
  text-align: center;
  display: inline-block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  color: #fff;
  width: 200px;
  width: 12.5rem;
  text-transform: uppercase;
  background: transparent -webkit-gradient(linear, left top, right top, from(#7633a4), to(#250d65)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(90deg, #7633a4 0%, #250d65 100%) 0% 0% no-repeat padding-box;
  border-radius: 50px;
  line-height: 1;
  padding: 23px 0;
  padding: 1.4375rem 0;
}

.c-hamburger {
  position: relative;
  width: 30px;
  width: 1.875rem;
  height: 30px;
  height: 1.875rem;
  z-index: 100;
}

.c-hamburger span {
  position: absolute;
  width: inherit;
  height: 2px;
  height: 0.125rem;
  background-color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.c-hamburger span:nth-child(1) {
  top: 15%;
}

.c-hamburger span:nth-child(2) {
  top: 51%;
  opacity: 1;
}

.c-hamburger span:nth-child(3) {
  top: 85%;
}

.c-hamburger.is-active span:nth-child(1) {
  top: 60%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.c-hamburger.is-active span:nth-child(2) {
  top: 51%;
  opacity: 0;
}

.c-hamburger.is-active span:nth-child(3) {
  top: 60%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.c-mv-btn {
  display: inline-block;
  padding: 21px 70px;
  padding: 1.3125rem 4.375rem;
  border: 1px solid #fff;
  line-height: 1;
  font-size: 15px;
  font-size: 0.9375rem;
  letter-spacing: 0.05em;
  font-family: "Montserrat", sans-serif;
  border-radius: 50px;
}

.c-page-link {
  color: #391E88;
  margin-top: 40px;
  margin-top: 2.5rem;
}

.c-page-link__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
  padding: 0.9375rem 0;
  border-top: 1px solid #B8AED5;
  border-bottom: 1px solid #B8AED5;
}

.c-page-link__prev,
.c-page-link__next {
  padding: 0 20px;
  padding: 0 1.25rem;
  font-size: 12px;
  font-size: 0.75rem;
  width: 50%;
  position: relative;
  line-height: 1.5714285714;
}
@media screen and (min-width: 768px) {
  .c-page-link__prev,
.c-page-link__next {
    font-size: 0.875rem;
  }
}

.c-page-link__prev {
  margin-right: auto;
}

.c-page-link__prev::after {
  content: "";
  width: 1px;
  height: 100%;
  background-color: #B8AED5;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.c-page-link__next {
  margin-left: auto;
}

.c-page-link__archive {
  margin-top: 20px;
  margin-top: 1.25rem;
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem;
}

.c-section-header, .c-section-header--white {
  color: #391E88;
  text-align: center;
}

.c-section-header__jatitle {
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .c-section-header__jatitle {
    font-size: 0.875rem;
  }
}

.c-section-header__engtitle {
  font-size: 30px;
  font-size: 1.875rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1.2333333333;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .c-section-header__engtitle {
    font-size: 2.25rem;
  }
}

@media screen and (min-width: 768px) {
  .c-section-header--left {
    text-align: left;
  }
}

.c-section-header--white {
  color: #fff;
}

.c-section-header__subpage {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .c-section-header__subpage {
    font-size: 2rem;
  }
}

.c-to-top {
  position: fixed;
  right: 10px;
  right: 0.625rem;
  bottom: 10px;
  bottom: 0.625rem;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid;
}

.c-to-top a {
  display: block;
  width: 50px;
  width: 3.125rem;
  height: 50px;
  height: 3.125rem;
  background-color: #fff;
  position: relative;
}

.c-to-top a span {
  position: absolute;
  background-color: transparent;
  width: 20px;
  width: 1.25rem;
  height: 20px;
  height: 1.25rem;
  border-top: 2px solid;
  border-right: 2px solid;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, calc(-50% + 0.25em)) rotate(-45deg);
          transform: translate(-50%, calc(-50% + 0.25em)) rotate(-45deg);
}

.p-archive-home__inner.l-inner {
  max-width: 965px;
  max-width: 60.3125rem;
}

.p-archive-home__item:not(:first-child) {
  margin-top: 32px;
  margin-top: 2rem;
}
@media screen and (min-width: 768px) {
  .p-archive-home__item:not(:first-child) {
    margin-top: 0.9375rem;
  }
}

.p-archive-works__inner.l-inner {
  padding: 0 15px;
  padding: 0 0.9375rem;
}

.p-archive-works__items {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px;
  gap: 2.5rem;
}
@media screen and (min-width: 768px) {
  .p-archive-works__items {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.75rem 1.875rem;
  }
}

.p-archive-works__img {
  aspect-ratio: 345/235;
  overflow: hidden;
}

.p-archive-works__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-archive-works__title {
  margin-top: 15px;
  margin-top: 0.9375rem;
}

.p-archive-works__name {
  text-align: center;
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: 0.05em;
  font-weight: 400;
}

.p-card__img {
  position: relative;
}

.p-card__img::before {
  content: "";
  display: block;
  padding-top: 62.686567%;
}

.p-card__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-card__body {
  margin-top: 14px;
  margin-top: 0.875rem;
}

.p-card__title {
  text-align: center;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.05em;
}

.p-card__text {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 1.79;
  margin-top: 10px;
  margin-top: 0.625rem;
}

.p-common-lists__list {
  padding: 20px 0;
  padding: 1.25rem 0;
  border-bottom: 1px solid #ddd;
}
@media screen and (min-width: 768px) {
  .p-common-lists__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1.875rem 0;
  }
}

.p-common-lists__list dt {
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .p-common-lists__list dt {
    width: 10.875rem;
  }
}

.p-common-lists__list dd {
  margin-top: 10px;
  margin-top: 0.625rem;
}
@media screen and (min-width: 768px) {
  .p-common-lists__list dd {
    margin-top: 0;
    width: calc(100% - 10.875rem);
  }
}

.p-company-info__items {
  margin-top: 30px;
  margin-top: 1.875rem;
}

.p-compnay-info__map {
  aspect-ratio: 335/240;
  margin-top: 40px;
  margin-top: 2.5rem;
}
@media screen and (min-width: 768px) {
  .p-compnay-info__map {
    margin-top: 3.75rem;
    aspect-ratio: 1110/394;
  }
}

.p-compnay-info__map iframe {
  width: 100%;
  height: 100%;
}

.p-company-info__map-link {
  margin-top: 10px;
  margin-top: 0.625rem;
}

.p-company-info__map-link a {
  font-size: 14px;
  font-size: 0.875rem;
  letter-spacing: 0.05em;
  color: #240C6A;
}
@media screen and (min-width: 768px) {
  .p-company-info__map-link a {
    font-size: 1rem;
  }
}

.p-company {
  padding-top: 32px;
  padding-top: 2rem;
  padding-bottom: 96px;
  padding-bottom: 6rem;
  background-image: url(../images/common/company-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -15px 0;
  background-position: -0.9375rem 0;
}
@media screen and (min-width: 768px) {
  .p-company {
    background-image: url(../images/common/company-bg-pc.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    padding-top: 8.5rem;
  }
}

.p-company--subPage {
  padding-top: 32px;
  padding-top: 2rem;
  padding-bottom: 0;
  background-image: url(../images/common/page-company-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: -13px -46px;
  background-position: -0.8125rem -2.875rem;
}
@media screen and (min-width: 768px) {
  .p-company--subPage {
    background-image: url(../images/common/page-company-bg-pc.png);
    background-repeat: no-repeat;
    background-size: 81.25rem;
    background-position: top center;
    padding-top: 8.5rem;
  }
}

.p-company__inner.inner {
  max-width: 1300px;
  max-width: 81.25rem;
}

.p-company__contents {
  margin-top: 30px;
  margin-top: 1.875rem;
}

.p-company__subtitle {
  text-align: center;
  font-size: 32px;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 1.5;
}

.p-company__yellow {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(75%, transparent), color-stop(75%, #F5F534), color-stop(90%, #F5F534), color-stop(90%, transparent), to(transparent));
  background: linear-gradient(180deg, transparent 0%, transparent 75%, #F5F534 75%, #F5F534 90%, transparent 90%, transparent 100%);
}

.p-company__content {
  margin-top: 43px;
  margin-top: 2.6875rem;
}

.p-company__text {
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 1.79;
}

.p-company__btn {
  text-align: center;
  margin-top: 30px;
  margin-top: 1.875rem;
}

.p-company__message {
  margin-top: 60px;
  margin-top: 3.75rem;
}
@media screen and (min-width: 768px) {
  .p-company__message {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 3.125rem;
    margin-top: 10rem;
  }
}

.p-company__message-image {
  aspect-ratio: 335/248;
}
@media screen and (min-width: 768px) {
  .p-company__message-image {
    max-width: 27.8125rem;
    width: 100%;
  }
}

.p-company__message-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-company__message-text {
  margin-top: 30px;
  margin-top: 1.875rem;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.7142857143;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 768px) {
  .p-company__message-text {
    margin-top: 0;
    max-width: 37.8125rem;
    width: 100%;
    font-size: 0.9375rem;
  }
}

.p-company__message-text p:not(:first-child) {
  margin-top: 24px;
  margin-top: 1.5rem;
}

.p-contact {
  padding: 60px 0;
  padding: 3.75rem 0;
  background-color: #f7f7f7;
}
@media screen and (min-width: 768px) {
  .p-contact {
    padding: 5rem 0;
  }
}

.p-contact__text-block {
  margin-top: 30px;
  margin-top: 1.875rem;
  text-align: center;
}

.p-contact__btn {
  margin-top: 30px;
  margin-top: 1.875rem;
  text-align: center;
}

.p-contact__text {
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 1.79;
}

.p-footer-nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  gap: 1.25rem;
}
@media screen and (min-width: 768px) {
  .p-footer-nav__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.p-footer-nav__item a {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.06em;
}

.p-footer {
  background-color: #120E19;
  padding-top: 60px;
  padding-top: 3.75rem;
  padding-bottom: 20px;
  padding-bottom: 1.25rem;
}
@media screen and (min-width: 768px) {
  .p-footer {
    padding: 3.75rem 0;
  }
}

.p-footer__inner {
  padding: 0 30px;
  padding: 0 1.875rem;
  margin: auto;
}

.p-footer__copyright {
  text-align: center;
  margin-top: 40px;
  margin-top: 2.5rem;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.05em;
}

.p-form {
  letter-spacing: 0.05em;
}

.p-form__radio {
  margin-top: 5px;
  margin-top: 0.3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  gap: 0.3125rem;
}
@media screen and (min-width: 768px) {
  .p-form__radio {
    display: block;
    gap: 0;
  }
}

.p-form dl:not(:first-child) {
  margin-top: 30px;
  margin-top: 1.875rem;
}

.p-form__item dt {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 2;
  font-weight: 600;
}

.p-form__item dt span {
  color: #391E88;
  font-size: 12px;
  font-size: 0.75rem;
  margin-left: 10px;
  margin-left: 0.625rem;
}

.p-form__item dt span.p-form__tel-info {
  font-size: 12px;
  font-size: 0.75rem;
  color: #333333;
  margin-left: 0;
}

.p-form__btn {
  margin-top: 50px;
  margin-top: 3.125rem;
  text-align: center;
}

.p-header {
  height: 64px;
  height: 4rem;
  background-color: transparent;
  z-index: 1000;
  position: fixed;
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.p-header.is-color {
  background-color: #21054d;
}

.p-header__inner {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  padding: 0 0.9375rem;
}
@media screen and (min-width: 768px) {
  .p-header__inner {
    padding: 0 1.875rem;
  }
}

@media screen and (min-width: 768px) {
  .p-header__drawer {
    display: none;
  }
}

.p-header__pc-nav {
  height: inherit;
  display: none;
}
@media screen and (min-width: 768px) {
  .p-header__pc-nav {
    display: block;
  }
}

.p-header__logoLink {
  color: #fff;
  font-size: 18px;
  font-size: 1.125rem;
  display: block;
}

.p-mv {
  position: relative;
  height: 100vh;
  background-image: url(../images/common/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.p-mv__header {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 50px;
  left: 3.125rem;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .p-mv__header {
    width: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
  }
}

.p-mv__title {
  font-size: 48px;
  font-size: 3rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  line-height: 1.2916667;
}
@media screen and (min-width: 768px) {
  .p-mv__title {
    font-size: 4.5rem;
  }
}

.p-mv__subtitle {
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: 0.108em;
  line-height: 1.8125;
  margin-top: 20px;
  margin-top: 1.25rem;
}
@media screen and (min-width: 768px) {
  .p-mv__subtitle {
    font-size: 1.5rem;
  }
}

.p-mv__btn {
  margin-top: 50px;
  margin-top: 3.125rem;
}

.p-mv__scroll {
  font-size: 12px;
  font-size: 0.75rem;
  letter-spacing: 0.08em;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #fff;
  display: inline-block;
  position: absolute;
  right: 0px;
  bottom: 78px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.p-mv__scroll span {
  position: relative;
}

.p-mv__scroll span::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 50px;
  position: absolute;
  background-color: #fff;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  right: -35px;
  bottom: -17px;
}

@media screen and (min-width: 768px) {
  .p-news__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .p-news-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.p-news__items {
  margin-top: 32px;
  margin-top: 2rem;
}
@media screen and (min-width: 768px) {
  .p-news__items {
    margin-top: 0;
    margin-left: 3.125rem;
  }
}

.p-news__item + .p-news__item {
  margin-top: 40px;
  margin-top: 2.5rem;
}
@media screen and (min-width: 768px) {
  .p-news__item + .p-news__item {
    margin-top: 0.9375rem;
  }
}

.p-news-content__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
}

.p-news-content__date {
  color: #333;
  font-size: 15px;
  font-size: 0.9375rem;
  letter-spacing: 0.1em;
}

.p-news-content__category {
  font-size: 11px;
  font-size: 0.6875rem;
  letter-spacing: 0.05em;
  border-radius: 50px;
  line-height: 1;
  padding: 4px 18px;
  padding: 0.25rem 1.125rem;
  background-color: #E8E8E8;
  margin-left: 15px;
  margin-left: 0.9375rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media screen and (min-width: 768px) {
  .p-news-content__link {
    margin-left: 1.25rem;
    max-width: 43.75rem;
  }
}

.p-news-content__text {
  font-size: 14px;
  font-size: 0.875rem;
}

.p-page-contact__text {
  font-size: 15px;
  font-size: 0.9375rem;
  letter-spacing: 0.05em;
  font-weight: 300;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .p-page-contact__text {
    font-size: 1rem;
  }
}

.p-page-contact__content {
  margin-top: 30px;
  margin-top: 1.875rem;
  padding: 30px;
  padding: 1.875rem;
  background-color: #F7F7F7;
}
@media screen and (min-width: 768px) {
  .p-page-contact__content {
    margin-top: 2.5rem;
    padding: 5.625rem;
  }
}

.p-page-recruit {
  padding-top: 40px;
  padding-top: 2.5rem;
  padding-bottom: 110px;
  padding-bottom: 6.875rem;
  background-image: url(../images/common/bg-recruit.png);
  background-repeat: repeat;
}
@media screen and (min-width: 768px) {
  .p-page-recruit {
    padding-top: 7.25rem;
  }
}

.p-page-recruit__title {
  color: #391E88;
  text-align: center;
}

.p-page-recruit__main {
  font-size: 48px;
  font-size: 3rem;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
}
@media screen and (min-width: 768px) {
  .p-page-recruit__main {
    font-size: 4.5rem;
  }
}

.p-page-recruit__sub {
  letter-spacing: 0.05em;
  font-size: 18px;
  font-size: 1.125rem;
  margin-top: 15px;
  margin-top: 0.9375rem;
}
@media screen and (min-width: 768px) {
  .p-page-recruit__sub {
    font-size: 2rem;
  }
}

.p-page-recruit__text {
  text-align: center;
  line-height: 1.8;
  font-size: 15px;
  font-size: 0.9375rem;
  margin-top: 25px;
  margin-top: 1.5625rem;
}
@media screen and (min-width: 768px) {
  .p-page-recruit__text {
    font-size: 1rem;
  }
}

.p-page-recruit__image {
  margin-top: 40px;
  margin-top: 2.5rem;
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

.p-page-recruit__recruit {
  margin-top: 40px;
  margin-top: 2.5rem;
}
@media screen and (min-width: 768px) {
  .p-page-recruit__recruit {
    margin-top: 4.375rem;
  }
}

.p-page-recruit__items {
  margin-top: 30px;
  margin-top: 1.875rem;
}

.p-page-recruit__item {
  border: 1px solid #B8AED5;
  border-radius: 10px;
  background-color: #FFFFFF;
  padding: 30px 20px;
  padding: 1.875rem 1.25rem;
}

.p-page-recruit__item:not(:first-child) {
  margin-top: 40px;
  margin-top: 2.5rem;
}

.p-page-recruit__job-title {
  font-size: 16px;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.05em;
  color: #391E88;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .p-page-recruit__job-title {
    font-size: 1.5rem;
  }
}

.p-page-recruit__lists {
  margin-top: 15px;
  margin-top: 0.9375rem;
}

.p-page-recruit__apply {
  margin-top: 40px;
  margin-top: 2.5rem;
  text-align: center;
}

.p-page-recruit__apply p {
  font-size: 12px;
  font-size: 0.75rem;
  margin-top: 5px;
  margin-top: 0.3125rem;
}

.p-page-recruit__movies {
  margin-top: 80px;
  margin-top: 5rem;
}
@media screen and (min-width: 768px) {
  .p-page-recruit__movies {
    margin-top: 8.75rem;
  }
}

.p-page-recruit__movie {
  margin-top: 30px;
  margin-top: 1.875rem;
  position: relative;
}

.p-page-recruit__movie::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

.p-page-recruit__movie iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .p-page-service__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 3.125rem;
  }
}

.p-page-service__item:not(:first-child) {
  margin-top: 50px;
  margin-top: 3.125rem;
}
@media screen and (min-width: 768px) {
  .p-page-service__item:not(:first-child) {
    margin-top: 3.75rem;
  }
}

.p-page-service__image {
  aspect-ratio: 335/211;
}
@media screen and (min-width: 768px) {
  .p-page-service__image {
    width: 40%;
  }
}

.p-page-service__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-page-service__text-block {
  margin-top: 20px;
  margin-top: 1.25rem;
}
@media screen and (min-width: 768px) {
  .p-page-service__text-block {
    margin-top: 0;
    width: 55.4%;
  }
}

.p-page-service__title {
  text-align: center;
  font-size: 18px;
  font-size: 1.125rem;
  letter-spacing: 0.05em;
  line-height: 1.5;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .p-page-service__title {
    font-size: 1.5rem;
    text-align: left;
  }
}

.p-page-service__text {
  margin-top: 15px;
  margin-top: 0.9375rem;
  font-size: 14px;
  font-size: 0.875rem;
  letter-spacing: 0.05em;
  line-height: 1.8;
}
@media screen and (min-width: 768px) {
  .p-page-service__text {
    font-size: 0.9375rem;
    margin-top: 1.25rem;
  }
}

.p-recruit__inner.l-inner {
  padding: 0;
}
@media screen and (min-width: 768px) {
  .p-recruit__inner.l-inner {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

.p-recruit__text-block {
  text-align: center;
  margin-top: 30px;
  margin-top: 1.875rem;
}

.p-recruit__text {
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 1.79;
}

@media screen and (min-width: 768px) {
  .p-recruit__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media screen and (min-width: 768px) {
  .p-recruit__contents {
    width: 40%;
  }
}

.p-recruit__img {
  position: relative;
}
@media screen and (min-width: 768px) {
  .p-recruit__img {
    width: 60%;
  }
}

.p-recruit__img::before {
  content: "";
  display: block;
  padding-top: 37.3333333%;
}

.p-recruit__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-recruit__contents {
  background-color: #f7f7f7;
  padding-top: 60px;
  padding-top: 3.75rem;
  padding-bottom: 50px;
  padding-bottom: 3.125rem;
}

.p-recruit__btn {
  text-align: center;
  margin-top: 30px;
  margin-top: 1.875rem;
}

.p-service__items {
  margin-top: 32px;
  margin-top: 2rem;
}
@media screen and (min-width: 768px) {
  .p-service__items {
    margin-top: 1.875rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.875rem;
  }
}

.p-service__item + .p-service__item {
  margin-top: 40px;
  margin-top: 2.5rem;
}
@media screen and (min-width: 768px) {
  .p-service__item + .p-service__item {
    margin-top: 0;
  }
}

.p-service__btn {
  margin-top: 30px;
  margin-top: 1.875rem;
  text-align: center;
}

.p-single-body__inner.l-inner {
  max-width: 800px;
  max-width: 50rem;
}

.p-single-body__title h1 {
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.4375;
  font-weight: normal;
}
@media screen and (min-width: 768px) {
  .p-single-body__title h1 {
    font-size: 2rem;
  }
}

.p-single-body__meta {
  margin-top: 20px;
  margin-top: 1.25rem;
}
@media screen and (min-width: 768px) {
  .p-single-body__meta {
    margin-top: 0.625rem;
  }
}

.p-single-body__image {
  margin-top: 14px;
  margin-top: 0.875rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .p-single-body__image {
    margin-top: 1.6875rem;
  }
}

.p-single-body__image::before {
  content: "";
  display: block;
  padding-top: 55.8%;
}

.p-single-body__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-single-body__content p {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.7142857143;
  margin-top: 30px;
  margin-top: 1.875rem;
}
.p-single-body__content h2 {
  margin-top: 40px;
  margin-top: 2.5rem;
  padding-left: 15px;
  padding-left: 0.9375rem;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.5;
  position: relative;
}
.p-single-body__content h2::before {
  content: "";
  position: absolute;
  width: 6px;
  width: 0.375rem;
  height: 100%;
  background-color: #391E88;
  left: -3px;
  left: -0.1875rem;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  .p-single-body__content h2 {
    margin-top: 3.75rem;
    font-size: 1.5rem;
  }
}
.p-single-body__content h3 {
  margin-top: 40px;
  margin-top: 2.5rem;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  position: relative;
}
@media screen and (min-width: 768px) {
  .p-single-body__content h3 {
    font-size: 1.125rem;
  }
}

.p-sub-mv {
  height: 190px;
  height: 11.875rem;
  background-image: url(../images/common/sub-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .p-sub-mv {
    height: 15rem;
  }
}

.p-sub-mv__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 94px;
  padding-top: 5.875rem;
}

@media screen and (min-width: 768px) {
  .p-works__cotnent {
    background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(33%, transparent), color-stop(33%, #f0f0f0), to(#f0f0f0));
    background: linear-gradient(90deg, transparent 0%, transparent 33%, #f0f0f0 33%, #f0f0f0 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 3.75rem;
    padding-bottom: 5rem;
  }
}

.p-works__text {
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 1.79;
}

.p-works__btn {
  text-align: center;
  margin-top: 30px;
  margin-top: 1.875rem;
}

.p-works__text-body {
  background-color: #F0F0F0;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  padding-top: 156px;
  padding-top: 9.75rem;
  padding-bottom: 60px;
  padding-bottom: 3.75rem;
  margin-top: -116px;
  margin-top: -7.25rem;
}
@media screen and (min-width: 768px) {
  .p-works__text-body {
    margin-left: 0;
    margin-left: initial;
    padding: 0;
    margin-top: 0;
    width: 40.5%;
    background-color: transparent;
  }
}

.p-works__images {
  position: relative;
}
@media screen and (min-width: 768px) {
  .p-works__images {
    width: 59.5%;
  }
}

.p-works__text-block {
  margin-top: 30px;
  margin-top: 1.875rem;
}
.p-works__img {
  position: relative;
}

.p-works__img::before {
  content: "";
  display: block;
  padding-top: 68.955%;
}

.p-works__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.pc-nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: inherit;
}

.pc-nav__item,
.pc-nav__item a {
  height: inherit;
}

.pc-nav__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 15px;
  font-size: 0.9375rem;
  font-family: serif;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.06em;
  font-weight: 700;
  line-height: 1;
  padding-left: 13px;
  padding-left: 0.8125rem;
  padding-right: 12px;
  padding-right: 0.75rem;
}

.pc-nav__item:first-child a {
  padding-left: 0;
}

.pc-nav__item:last-child a {
  padding-right: 0;
}

.sp-nav {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: #642390;
}

.sp-nav.is-active {
  display: block;
}

.sp-nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px 0;
  padding: 6.25rem 0;
  min-height: 100vh;
}

.sp-nav__item {
  width: 100%;
}

.sp-nav__item a {
  text-align: center;
  display: block;
  padding: 10px 0;
  padding: 0.625rem 0;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.05em;
}

/*デフォルト色の指定*/
/*サイズ等の指定*/
/*ボタン系の指定*/
/*ラジオボタンの指定*/
/*チェックボックスの指定*/
/*テキストエリアの指定*/
[type=text],
[type=search],
[type=tel],
[type=url],
[type=email],
[type=password],
[type=date],
textarea {
  /*↓リセットCSS */
  border: none;
  border-radius: 0;
  background-image: none;
  font-family: inherit;
  /*↓カスタム */
  margin-top: 10px;
  margin-top: 0.625rem;
  font-size: 16px;
  font-size: 1rem;
  padding: 10px 10px;
  padding: 0.625rem 0.625rem;
  width: 100%;
  max-width: 300px;
  max-width: 18.75rem;
  background: #fff;
  border: 1px solid #AAAAAA;
  border-radius: 0.375rem;
  /*↓↓↓↓不要ならコメントアウト or 削除 */
  /*↓↓選択されているときの色*/
}
[type=text]:focus,
[type=search]:focus,
[type=tel]:focus,
[type=url]:focus,
[type=email]:focus,
[type=password]:focus,
[type=date]:focus,
textarea:focus {
  border: 1px solid #391E88;
}

[type=tel] {
  max-width: 200px;
  max-width: 12.5rem;
  width: 100%;
}

button,
[type=button],
[type=submit] {
  /*↓リセットCSS */
  margin: 0;
  background-image: none;
  width: auto;
  display: inline-block;
  text-decoration: none;
  border: none;
  border-radius: 0;
  /*↓カスタム */
  padding: 20px 72px;
  padding: 1.25rem 4.5rem;
  background: transparent -webkit-gradient(linear, left top, right top, from(#7633a4), to(#250d65)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(90deg, #7633a4 0%, #250d65 100%) 0% 0% no-repeat padding-box;
  color: white;
  font-size: 14px;
  font-size: 0.875rem;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  border-radius: 3.125rem;
  line-height: 1;
}

[type=radio] {
  display: none;
}
[type=radio] + span {
  display: inline-block;
  position: relative;
  padding: 0 0 0 28px;
  padding: 0 0 0 1.75rem;
  margin: 0 35px 0 0;
  margin: 0 2.1875rem 0 0;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  cursor: pointer;
}
[type=radio] + span::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #fff;
  border: 1px solid #707070;
  border-radius: 50%;
  width: 18px;
  width: 1.125rem;
  height: 18px;
  height: 1.125rem;
  display: block;
}
[type=radio] + span::after {
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
[type=radio]:checked + span::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 3px;
  left: 0.1875rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #391E88;
  border-radius: 50%;
  width: 12px;
  width: 0.75rem;
  height: 12px;
  height: 0.75rem;
  display: block;
  opacity: 1;
}

[type=checkbox] {
  display: none;
}
[type=checkbox] + span {
  display: inline-block;
  position: relative;
  padding: 0 0 0 25px;
  padding: 0 0 0 1.5625rem;
  margin: 0 20px 0 0;
  margin: 0 1.25rem 0 0;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
[type=checkbox] + span::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #fff;
  border: 1px solid #f00;
  width: 20px;
  width: 1.25rem;
  height: 20px;
  height: 1.25rem;
  display: block;
}
[type=checkbox] + span::after {
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
[type=checkbox]:checked + span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  opacity: 1;
  /*チェックマークじゃない場合は以下を変更する*/
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  width: 18px;
  width: 1.125rem;
  height: 10px;
  height: 0.625rem;
  margin-top: -0.1em;
  margin-left: 0.1em;
  border-left: 4px solid #f00;
  border-bottom: 4px solid #f00;
}

select {
  /*↓リセットCSS */
  border-radius: 0;
  font-family: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
  width: 100%;
  /*↓カスタム */
  margin-top: 10px;
  margin-top: 0.625rem;
  font-size: 16px;
  font-size: 1rem;
  padding: 10px 10px;
  padding: 0.625rem 0.625rem;
  background-color: #fff;
  border: 1px solid #AAAAAA;
  border-radius: 0.375rem;
  /*↓デフォルトのアイコンを消す場合はコメントアウト（noneにする）*/
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  /*↓デフォルトではないアイコンを使う場合は入力する*/
}
select:focus {
  border: 1px solid #391E88;
}

[type=date] {
  position: relative;
  /*↓デフォルトのアイコンを消す場合はコメントアウト（noneにする）*/
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  /*↓デフォルトではないアイコンを使う場合は入力する*/
}
[type=date]:focus {
  border-color: 1px solid #391E88;
}

input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

textarea {
  height: 255px;
  height: 15.9375rem;
  width: 100%;
  max-width: 600px;
  max-width: 37.5rem;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: -25px;
  bottom: -1.5625rem;
  text-align: right;
}

.swiper-pagination-bullet-active {
  background: #391E88;
}

.wp-pagenavi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  gap: 0.625rem;
}

.wp-pagenavi a, .wp-pagenavi span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45px;
  width: 2.8125rem;
  height: 45px;
  height: 2.8125rem;
  border-radius: 50%;
  background-color: #7633A4;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 20px;
  font-size: 1.25rem;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.wp-pagenavi a:hover {
  background-color: #F1EBF8;
  color: #4F31A5;
  opacity: 1;
}

.wp-pagenavi span.current {
  background-color: #F1EBF8;
  color: #4F31A5;
}
/*# sourceMappingURL=styles.css.map */
