@use 'global' as *;

.p-sub-mv {
  height: rem(190);
  background-image: url(../images/common/sub-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  @include mq(md){
    height: rem(240);
  }
}

.p-sub-mv__title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: rem(94);
}
